body {
    font-family: "Segoe UI", Tahoma;
    margin: 0;
    padding: 0;
    background: linear-gradient(left top, left bottom, from(#ffffff)  to(#444444));
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    grid-gap: 30px;
    grid-template-columns: auto;
}

.card {
    flex-basis: calc(100%/3-20px);
    background-color: HSL(221, 42%, 43%);
    color: rgb(187, 208, 230);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2),
        5px 5px 10px 5px HSL (221, 42%, 30%);
    height: 450px;
}

.card h2 {
    margin-top: 0;

}

.card p {
    margin-top: 10px 0;
}

img {
   width: 150px ;
   height: 150px ; 
   border-radius: 5px;

}